@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,700;0,900;1,400;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #47A992;
}

header {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.main {
    width: 100%;
}

.inputs,
.output {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.output {
    width: 40%;
    height: 100px;
    background-color: #fff;
    margin: 0 auto;
    padding: 10px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5% auto 10px auto;
}

.inputs input,
button {
    padding: 10px;
    margin: 5px;
}

.error {
    color: red;
}

.teams {
    position: absolute;
    bottom: 20px;
}